Repository hqwuzhaoyi/gpt-subtitle, pull requests merged in 2023-11, with the labels that each got.

#168 feat: Increase env variable support to display Oauth when using Github
  apps/web/app/login/components/user-auth-form.tsx
  apps/web/app/login/page.tsx
Labels: app:web

#169 feat: Setting page
  .env.template
  apps/server/src/app.module.ts
  apps/server/src/auth/auth.controller.spec.ts
  apps/server/src/auth/auth.controller.ts
  apps/server/src/auth/auth.guard.ts
  apps/server/src/auth/auth.service.spec.ts
  apps/server/src/auth/auth.service.ts
  apps/server/src/auth/testConstants.ts
  apps/server/src/config/config.controller.ts
  apps/server/src/config/config.entity.ts
  apps/server/src/config/config.module.ts
  apps/server/src/config/config.service.spec.ts
  apps/server/src/config/config.service.ts
  apps/server/src/config/custom-config.service.ts
  apps/server/src/osrt/osrt.service.spec.ts
  apps/server/src/osrt/osrt.service.ts
  apps/server/src/translate/translate.service.spec.ts
  apps/server/src/translate/translate.service.ts
  apps/server/src/users/users.entity.ts
  apps/server/src/users/users.module.ts
  apps/server/src/users/users.service.spec.ts
  apps/server/src/users/users.service.ts
  apps/web/app/api/auth/[...nextauth]/route.ts
  apps/web/app/error.tsx
  apps/web/app/preview/tasks/components/ImagePreviewModal.tsx
  apps/web/app/preview/tasks/components/data-table-row-actions.tsx
  apps/web/app/preview/tasks/components/data-table-toolbar.tsx
  apps/web/app/preview/tasks/data/data.tsx
  apps/web/app/settings/api/profile.ts
  apps/web/app/settings/api/setProfile/route.ts
  apps/web/app/settings/components/sidebar-nav.tsx
  apps/web/app/settings/layout.tsx
  apps/web/app/settings/page.tsx
  apps/web/app/settings/profile-form.tsx
  apps/web/atoms/__tests__/imagePreview.test.tsx
  apps/web/components/LanguageSelect.tsx
  apps/web/components/ui/form.tsx
  apps/web/components/ui/textarea.tsx
  apps/web/components/user-nav.tsx
  apps/web/components/user-session.tsx
  apps/web/lib/request.ts
  apps/web/package.json
  packages/shared-types/src/index.ts
  packages/translater/package.json
  packages/translater/src/index.ts
  pnpm-lock.yaml
Labels: app:web, app:server, mode:utils, test, mod:store

#185 Optimize server startup loading speed and add watchFilesQueue mock
  apps/server/src/app.module.ts
  apps/server/src/files/entities/file.entity.ts
  apps/server/src/files/files.module.ts
  apps/server/src/files/watch/watch.module.ts
  apps/server/src/files/watch/watch.processor.ts
  apps/server/src/files/watch/watch.service.spec.ts
  apps/server/src/files/watch/watch.service.ts
  apps/server/src/shared/shared.module.ts
Labels: app:server
